* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #E7EFF1;
}

/*HEADER*/
.header {
  background-image: url(./src/img/4_Victory_04.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 20rem;
  height: 100vh;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px;
}

.icon-home {
  font-size: 14px;
  color: #000;
}

.header input {
  display: none;
}

label .close-menu {
  display: none;
}

.header input:checked ~ label .open-menu {
  display: none;
}

.header input:checked ~ label .close-menu {
  animation: slideOut 1s;
  display: block;
  position: absolute;
  right: 20px;
  z-index: 3;
}

.header input:checked ~ .container-links {
  animation: slideIn 1s;
  display: block;
  z-index: 1;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to   { transform: translateX(-100); }
}

.header input:checked ~ .container-links ul{
  display: block;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.container-links {
  background-color: #E7EFF1;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vmax;
}

.menu-links {
  display: none;
  position: absolute;
}

.menu-links a {
  color: #000;
  margin-left: 10px;
  transition: 0.2s;
  letter-spacing: 1px;
  line-height: 2.5;
  font-weight: 300;
  font-size: 20px;
}

.menu-links a:hover,
.menu-links a:focus {
  color: #E11515;
  font-weight: 500;
}

/*TOP SECTION-HEADER*/
.top-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.name {
  display: flex;
  font-size: 20px;
  gap: 10px;
  margin-bottom: 5px;
}

.name :nth-child(1) {
  font-weight: 500;
  border-bottom: 2px solid #E11515;
}

.name :nth-child(2) {
  font-weight: 200;
  border-bottom: 2px solid #E11515;
}

.text-presentation {
  font-weight: 200;
}

/*ABOUT SECTION-MAIN*/
.about-section {
  background-color: #070606;
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 20px;
}

.title-about-me {
  border-bottom: 2px solid #E11515;
  color: white;

}

.text-about-me {
  color: white;
  font-weight: 200;
  text-align: center;
}

/*PROJECT SECTION - MAIN*/
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  text-align: center;
}

.project {
  position: relative;
  height: 500px;
  width: 250px;
}

.projects-container img {
  border-radius: 5px;
  position: absolute;
  height: 196px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.info-project {
  background-color: #070606;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #E7EFF1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  height: 350px;
  width: 250px;
}

.button-project {
  border: none;
  border: 1px solid #E11515;
  box-sizing: border-box;
  color: #E11515;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
  transition: 0.2s;
  width: 150px;
}

.button-project:hover {
  background-color: #E11515;
  color: white;
}

.button-project:focus {
  border: transparent;
}

/* SECTION STACKS - main */
.stacks {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.stacks :nth-child(2) {
  color: gray;
  text-decoration: line-through;
  line-height: 0.5;
}

.imgs-stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Section Contact - main*/
.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-top: 20px;
  border-top: 1px solid rgb(207, 207, 207);
}

.footer img {
  height: 10rem;
}

.container-social-medias {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.container-social-medias a img {
  height: 2rem;
}

/*GLOBAL CLASSES*/
.section-title {
  font-weight: 300;
  margin-bottom: 3%;
  text-align: center;
}
.title-green {
  color: #009688;
}
.title-white {
  color: white;
}
