* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #E7EFF1;
}

/*HEADER*/
.header {
  background-image: url(./src/img/4_Victory_04.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 20rem;
  height: 100vh;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px;
}

.menu-links {
    display: flex;
}

.icon-home {
  font-size: 14px;
  color: #000;
}

.menu-links a {
  color: #000;
  margin-left: 10px;
  transition: 0.2s;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 14px;
}

.menu-links a:hover,
.menu-links a:focus {
  color: #E11515;
  font-weight: 500;
}

/*TOP SECTION-HEADER*/
.top-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.name {
  display: flex;
  font-size: 20px;
  gap: 10px;
  margin-bottom: 5px;
}

.name :nth-child(1) {
  font-weight: 500;
  border-bottom: 2px solid #E11515;
}

.name :nth-child(2) {
  font-weight: 200;
  border-bottom: 2px solid #E11515;
}

.text-presentation {
  font-weight: 200;
}

/*ABOUT SECTION-MAIN*/
.about-section {
  background-color: #070606;
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 20px;
}

.title-about-me {
  border-bottom: 2px solid #E11515;
  color: white;

}

.text-about-me {
  color: white;
  font-weight: 200;
  text-align: center;
}

/*PROJECT SECTION - MAIN*/
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  text-align: center;
}

.project {
  position: relative;
  height: 500px;
  width: 250px;
}

.projects-container img {
  border-radius: 5px;
  position: absolute;
  height: 196px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.info-project {
  background-color: #070606;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #E7EFF1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  height: 350px;
  width: 250px;
}

.button-project {
  border: none;
  border: 1px solid #E11515;
  box-sizing: border-box;
  color: #E11515;
  padding: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
  transition: 0.2s;
  width: 150px;
}

.button-project:hover {
  background-color: #E11515;
  color: white;
}

.button-project:focus {
  border: transparent;
}

/*Section Contact - main*/
.footer .contactSection {
  background-color: black;
  padding: 2%;

  text-align: center;
}
.footer .contactSection h4 {
  text-transform: uppercase;
}
#formContato {
  max-width: 500px;
  margin: auto;
}
#formContato input,
#formContato textarea {
  display: block;
  width: 100%;

  padding: 3%;
  margin-bottom: 0.9em;
  border-radius: 0.2em;

  border: none;

  font-size: 15px;
}

#submit-button {
  width: 200px;
  padding: 0.8em;

  background-color: #009688;
  cursor: pointer;
  border: none;

  border-radius: 0.2em;
  color: #fff;

  transition: 0.5s;
}
#submit-button:hover {
  background-color: #007c70;
}

/*GLOBAL CLASSES*/
.section-title {
  font-weight: 300;
  margin-bottom: 3%;
  text-align: center;
}
.title-green {
  color: #009688;
}
.title-white {
  color: white;
}
